.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px;
  width: 476px;
  height: 246px;
  box-shadow: 0 0 10px #eee;
  font-family: sans-serif;
  background-color: white;
  position: relative;
  margin: 1rem;
}

.card-header {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.side-img {
  width: 132px;
  height: 157px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.card-top-content {
  flex-grow: 1;
}

.star-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.course-title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 6px;
  padding-right: 15%
}

.course-meta {
  font-size: 0.8rem;
  color: #444;
  margin-bottom: 4px;
}

.course-meta select {
  font-size: 0.8rem;
  padding: 2px 4px;
  border: none;
  border-bottom: #444 solid 1px;
  width: 90%;
}

.course-actions {
  border-top: #a8a8a8 solid 1px;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}

.course-actions img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.course-actions img:hover {
  transform: scale(1.15);
}
