* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: antiquewhite;
    padding: 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 457px;
    height: 138px;
    margin: auto;
    padding: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.img-container {
    width: 130px;
    height: 130px;
    padding: 0;
}

.profile-pic {
    width: 100%;
    height: auto;
}

.info {
    padding-left: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 14px;
}

.content {
    font-size: 1.2rem;
    margin-bottom: 24px;
}

.stats {
    display: flex;
    align-items: center;
}

.icons {
    width: 20px;
    opacity: 0.6;
}

.numbers {
    padding-left: 14px;
    padding-right: 24px;
    font-size: 14px;
    color: grey;
}